

.bgc{
    background-color: #0c8b51;
    border-radius: 10px;
}
.dsd{
    font-weight: 500;
    font-size: 14px;
    letter-spacing: .03em;
    line-height: 24px;
    color: #fff;
    padding-left: 26px;
    position: relative;
    margin-top: 10px;
}
.dsd::before{
    position: absolute;
    content: '';
    width: 2px;
    height: 80%;
    left: 13px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    background-color: #fff;
}
.ddd{
    position: relative;
}
.ddd::before{
    position: absolute;
    content: '';
    width: 280px;
    height: 4%;
    left: 12px;
    top: 80%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    background-color: #fff;
}